*{
	border: 1px dotted black;
	font-family: Raleway;
}
.jumbotron{
	background:url(sunset.jpg);
	background-size:cover;
	height:35em;
}
.img-circle{
	height:300px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#nametag{
	font-family: Raleway;
	color:white;
	margin:auto;
	text-align: center;
}
