*{
	/*border: 1px dotted black;*/
	font-family: Raleway;
} 
/* 
Can't use this yet because some of my images have white 
backgrounds (instead of clear) that stand out from the toast

body{
	background: url(light_toast.png) repeat 0 0;
} 
*/
.navbar{
	background-color: black;
}
.jumbotron{
	background:url('../images/sunset.jpg');
	background-size:cover;
	height:60%;
	margin-top: 5%;
}
.img-circle{
	height:30%;
	width:30%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#nametag{
	font-family: Raleway;
	color:white;
	margin:auto;
	text-align: center;
}
.seal{
	height:6em;
	width: 6em;
	margin-left: -1em;
}


