<div class="container">
	<div class="jumbotron">

		<h1>About Me</h1>
	    <div class="infotext">
	    	<h2>Employment</h2>
	    	<ul>
	    		<li>
	    			<img class="resumeicon" src="/images/DB_CompassIcon.png">
	    			<h3>Discoverboard Inc.</h3>
	    			<p>Co-founder and front end developer</p>
	    		</li>
	    		<li>
	    			<img class="resumeicon" src="/images/optimized_Hotchkiss_School_Seal.png"></img>
	    			<h3>The Hotchkiss School</h3>
	    			<p>Teaching Fellow in Mathematics 2012-2014</p>
	    		</li>
	    	</ul>
	    	<h2>Education</h2>
	    	<ul>
	    		<li>
	    			<img class="resumeicon" src="/images/optimized_Penn_Crest.png"></img>
	    			<h3>University of Pennsylvania</h3>
	    			<p>Master of Science in Education 2014</p>
	    		</li>
	    		<li>
	    			<img class="resumeicon" src="/images/optimized_Carleton_college_seal.png"></img>
	    			<h3>Carleton College</h3>
	    			<p>Bachelor of Arts in Mathematics 2012</p>
	    		</li>
	    	</ul>
	    	<h2>Interests</h2>
	    	<div class="interests">
		    	<ul class="col-md-4">
					<li>Art</li>
					<li>Asking questions</li>
					<li>Coaching</li>
					<li>Cognition</li>
					<li>Computing</li>
					<li>Creating</li>
				</ul>
				<ul class="col-md-4">
					<li>Education</li>
					<li>Hiking and backpacking</li>
					<li>Interpersonal dynamics</li>
					<li>Language</li>
					<li>Learning</li>
					<li>Live music</li>	
				</ul>
				<ul class="col-md-4">
					<li>Math</li>
					<li>Natural systems</li>
					<li>Programming</li>
					<li>Reading</li>
					<li>Teaching</li>
					<li>Ultimate</li>
				</ul>
			</div>
			<h2>&nbsp</h2>
			
	    </div>
	</div>
</div>