<div class="jumbotron">

	<h1>Cory Fauver</h1>
    <h3>Co-founder and front end developer at Discoverboard</h3>
    <div class="infotext">
    	<h2>Employment</h2>
    	<ul>
    		<li>
    			<img class="resumeicon" src="/images/Hotchkiss_School_Seal.png"></img>
    			<h3>The Hotchkiss School</h4>
    			<p>Teaching Fellow in Mathematics 2012-2014</p>
    		</li>
    	</ul>
    	<h2>Education</h2>
    	<ul>
    		<li>
    			<img class="resumeicon" src="/images/Penn_Crest.png"></img>
    			<h3>University of Pennsylvania</h4>
    			<p>Master of Science in Education 2014</p>
    		</li>
    		<li>
    			<img class="resumeicon" src="/images/carleton.gif"></img>
    			<h3>Carleton College</h4>
    			<p>Bachelor of Arts in Mathematics 2012</p>
    		</li>
    	</ul>
    	<h2>Interests</h2>
    	<div class="container">
			<div class="col-md-4">
				<p>Art</p>
				<p>Asking questions</p>
				<p>Coaching</p>
				<p>Cognition</p>
				<p>Computing</p>
				<p>Creating</p>
			</div>
			<div class="col-md-4">
				<p>Education</p>
				<p>Hiking and backpacking</p>
				<p>Interpersonal dynamics</p>
				<p>Language</p>
				<p>Learning</p>
				<p>Live music</p>	
			</div>
			<div class="col-md-4">
				<p>Math</p>
				<p>Natural systems</p>
				<p>Programming</p>
				<p>Reading</p>
				<p>Teaching</p>
				<p>Ultimate</p>
			</div>
		</div>
    </div>
</div>