<div class="jumbotron">
	<div class="container">
		<div class="row">
			<a href="mailto:cofauver@gmail.com?Subject=Hello%20Cory!"><img class="icon" src="/images/Gmail.png"></span></a>

			<a href="https://www.facebook.com/cory.fauver"><img class="icon" src="/images/facebook_square.png"></img></a>
		</div>
		<div class="row">
			<a href="https://www.youtube.com/user/cofauver/videos"><img class="icon" src="/images/youtube_square.png"></img></a>

			<a href="https://www.linkedin.com/profile/view?id=314826554&trk=nav_responsive_tab_profile"><img class = "icon" src= "/images/linkedin_square.png"></img></a>
		</div>
	</div>  
</div>

