<div class="container">
	<div class="jumbotron">
		<h1>My Portfolio</h1>
		<ul class="portfolio-list">
			<li>
				<img class="resumeicon" src="/images/acc78a2b.bookclub.png">
				<h3 class="portfolio-title">Matchbook
					<a class="link-to-site" href="http://matchbook.herokuapp.com">
						<span class="glyphicon glyphicon-link"></span>
					</a>
					<a href="https://github.com/cofauver/bookclub">
						<img class="github-link" src="/images/optimized_GitHub_Logo.png">
					</a>
				</h3>
				<p>A site to list your favorite books and find people who want to discuss them with you.</p>
				
			</li>

			<br>

			<li>
				
				<img class="resumeicon" src="/images/DB_CompassIcon.png"></img>
				<h3 class="portfolio-title">Discoverboard, portfolio version
					<a class="link-to-site" href="http://dbo-portfolio1.herokuapp.com/">
						<span class="glyphicon glyphicon-link"></span>
					</a>
					<a href="https://github.com/cofauver/portfolio1">
						<img class="github-link" src="/images/optimized_GitHub_Logo.png">
					</a>
				</h3>
				<p>A stripped down version of the app that I built as a startup with two close friends.</p>
				
			</li>
		</ul>	
	</div>
</div>
