<div class="footer">
      <div class="row">
        <a href="mailto:cofauver@gmail.com?Subject=Hello%20Cory!"><img class="icon" src="/images/optimized_Gmail.png"></span></a>

        <a href="https://www.facebook.com/cory.fauver"><img class="icon" src="/images/optimized_facebook_square.png"></img></a>
      </div>
      <div class="row">
        <a href="https://github.com/cofauver"><img class="icon" src="/images/GitHub-Mark-120px-plus.png"></img></a>

        <a href="https://www.linkedin.com/profile/view?id=314826554&trk=nav_responsive_tab_profile"><img class = "icon" src= "/images/optimized_linkedin_square.png"></img></a>
      </div>
  </div>
</div>